<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.siap">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_mainlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_mainlogo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SIAP"
        android:usesCleartextTraffic="true">
        <activity android:name=".Main.MainActivity"></activity>
        <activity android:name=".adminInput.adminInput" />
        <activity android:name=".adminLogin.adminLogin" />
        <activity android:name=".splashScreen.splashScreen" />
        <activity android:name=".adminActivity.adminActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>